@import './base.css';

#app {
  max-width: 87%;
  margin: 0 auto;
  font-weight: normal;
}

@media(min-width: 768px) {
  #app {
    max-width: 85%;
  }
}

@media(min-width: 1024px) {
  #app {
    max-width: 80%;
  }
}

a {
  color: #42b983;
  text-decoration: none;
}
